body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.normal{
    display: unset;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    background-color: #0e2a47;
    color: white;
    
}
a{
    color: white;
}
.bg-success{
    background-color: #28a745;
}
.bg-yellow{
    background-color: #ffc107;
}
.bg-orange{
    background-color: #fd7e14;
}
.bg-danger{
    background-color: #dc3545;
}

.auth-prompts{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 3px .5px rgba(0,0, 0, 0.4);
    border-radius: 25px;
    position: relative;
    }
.auth-prompts-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.auth-prompts-form h2{
    margin-bottom: 20px;
    text-transform: capitalize;
}
.auth-prompts .login,
.auth-prompts .create-account{
    width: 50%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
}
.over-lay{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 9999;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    
    color: white;
}
.over-lay[id= 'sign-in-overlay']
{
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
}
.over-lay .content{
    width: 100%;
    height: 100%;
    display: grid;
    align-content: space-evenly !important;
    place-content: center;
}
.over-lay .content h3 {
    margin-top: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
}
.over-lay .content button{
    background-color: white;
    transition: all ease-in-out 0.3s;
    color: #0e2a47;
    font-weight: 600;
}
.over-lay button:hover{
    background-color: #0e2a47;
    color: white;
}

.hidden{
    display: none;
}
.promp-err span,
.match-promp-err span
{
    margin-top: 15px;
    font-weight: 600;
    color: red;
}
.prompt-col{
    margin-bottom: 10px;
    width: 100%;
}
.prompt-col input{
    width: 100%;
    outline: none;
    padding: 15px 5px;
    border:none;
    border-bottom: 2px solid #0e2a47;
}
.prompt-col input::placeholder{
    color: #0e2a47;
}
.btn-submit{
    background-color: #0e2a47;
    width: 100%;
    color: white;
    margin-top: 20px;
    font-weight: 700;
}
.btn-submit:hover{
    color: royalblue;
}
.home-content{
    width: 100%;
    height: 100%;
    color: white;
}
.home-content a{
    color: white;
}
.form_div{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_div form{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form_div form input{
    background-color: #0e2a47;
    border: 2px dotted white;
    padding: 15px 5px;
    border-radius: 10px;
}
.form_div form button{
    margin-top: 25px;
    background-color: #fff;
    color: #0e2a47;
}
.form_div form button:hover{
    background-color: #0e2a47;
    color: #fff;
}
.results-content{
    width: 100%;
    
}   
.image-container{
    width: 100%;
    height: 60vh;
    overflow-y: hidden;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}
.image-container .img{
    width: 60%;
    height: 100%;
}
.image-container .show-results{
    width: 40%;
    padding: 25px;
    color: #0e2a47;
    background-color: #fff;
}
.status-tag{
    padding: 2.5px 5px;
    border-radius: 10px;
}
.svg-bg{
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M170.22 206.25L235.17 243.75L235.17 318.75L170.22 356.25L105.26 318.75L105.26 243.75zM235.17 543.75L300.13 581.25L300.13 656.25L235.17 693.75L170.22 656.25L170.22 581.25zM300.13 431.25L365.08 468.75L365.08 543.75L300.13 581.25L235.17 543.75L235.17 468.75zM494.99 318.75L559.94 356.25L559.94 431.25L494.99 468.75L430.03 431.25L430.03 356.25zM430.03 431.25L494.99 468.75L494.99 543.75L430.03 581.25L365.08 543.75L365.08 468.75zM559.94 206.25L624.89 243.75L624.89 318.75L559.94 356.25L494.99 318.75L494.99 243.75zM624.89 543.75L689.85 581.25L689.85 656.25L624.89 693.75L559.94 656.25L559.94 581.25zM884.71 93.75L949.66 131.25L949.66 206.25L884.71 243.75L819.75 206.25L819.75 131.25zM884.71 318.75L949.66 356.25L949.66 431.25L884.71 468.75L819.75 431.25L819.75 356.25zM949.66 -18.75L1014.62 18.75L1014.62 93.75L949.66 131.25L884.71 93.75L884.71 18.75zM1014.62 318.75L1079.57 356.25L1079.57 431.25L1014.62 468.75L949.66 431.25L949.66 356.25zM1209.48 -18.75L1274.43 18.75L1274.43 93.75L1209.48 131.25L1144.52 93.75L1144.52 18.75zM1274.43 543.75L1339.38 581.25L1339.38 656.25L1274.43 693.75L1209.48 656.25L1209.48 581.25zM1339.38 -18.75L1404.34 18.75L1404.34 93.75L1339.38 131.25L1274.43 93.75L1274.43 18.75zM1404.34 543.75L1469.29 581.25L1469.29 656.25L1404.34 693.75L1339.38 656.25L1339.38 581.25zM1534.25 543.75L1599.2 581.25L1599.2 656.25L1534.25 693.75L1469.29 656.25L1469.29 581.25z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M162.72 206.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM227.67 243.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM227.67 318.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM162.72 356.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM97.76 318.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM97.76 243.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM227.67 543.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM292.63 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM292.63 656.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM227.67 693.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM162.72 656.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM162.72 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM292.63 431.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM357.58 468.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM357.58 543.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM227.67 468.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM487.49 318.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM552.44 356.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM552.44 431.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM487.49 468.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM422.53 431.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM422.53 356.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM487.49 543.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM422.53 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM552.44 206.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM617.39 243.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM617.39 318.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM487.49 243.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM617.39 543.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM682.35 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM682.35 656.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM617.39 693.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM552.44 656.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM552.44 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM877.21 93.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM942.16 131.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM942.16 206.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM877.21 243.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM812.25 206.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM812.25 131.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM877.21 318.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM942.16 356.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM942.16 431.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM877.21 468.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM812.25 431.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM812.25 356.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM942.16 -18.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1007.12 18.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1007.12 93.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM877.21 18.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1007.12 318.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1072.07 356.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1072.07 431.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1007.12 468.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1201.98 -18.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1266.93 18.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1266.93 93.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1201.98 131.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1137.02 93.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1137.02 18.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1266.93 543.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1331.88 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1331.88 656.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1266.93 693.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1201.98 656.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1201.98 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1331.88 -18.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1396.84 18.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1396.84 93.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1331.88 131.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1396.84 543.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1461.79 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1461.79 656.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1396.84 693.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1526.75 543.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1591.7 581.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1591.7 656.25 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1526.75 693.75 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M92.24 69.42L135.55 94.42L135.55 144.42L92.24 169.42L48.94 144.42L48.94 94.42zM92.24 219.42L135.55 244.42L135.55 294.42L92.24 319.42L48.94 294.42L48.94 244.42zM48.94 294.42L92.24 319.42L92.24 369.42L48.94 394.42L5.64 369.42L5.64 319.42zM48.94 444.42L92.24 469.42L92.24 519.42L48.94 544.42L5.64 519.42L5.64 469.42zM178.85 69.42L222.15 94.42L222.15 144.42L178.85 169.42L135.55 144.42L135.55 94.42zM178.85 369.42L222.15 394.42L222.15 444.42L178.85 469.42L135.55 444.42L135.55 394.42zM135.55 444.42L178.85 469.42L178.85 519.42L135.55 544.42L92.24 519.42L92.24 469.42zM178.85 519.42L222.15 544.42L222.15 594.42L178.85 619.42L135.55 594.42L135.55 544.42zM265.45 69.42L308.75 94.42L308.75 144.42L265.45 169.42L222.15 144.42L222.15 94.42zM222.15 144.42L265.45 169.42L265.45 219.42L222.15 244.42L178.85 219.42L178.85 169.42zM265.45 219.42L308.75 244.42L308.75 294.42L265.45 319.42L222.15 294.42L222.15 244.42zM265.45 519.42L308.75 544.42L308.75 594.42L265.45 619.42L222.15 594.42L222.15 544.42zM308.75 -5.58L352.06 19.42L352.06 69.42L308.75 94.42L265.45 69.42L265.45 19.42zM352.06 369.42L395.36 394.42L395.36 444.42L352.06 469.42L308.75 444.42L308.75 394.42zM308.75 444.42L352.06 469.42L352.06 519.42L308.75 544.42L265.45 519.42L265.45 469.42zM395.36 294.42L438.66 319.42L438.66 369.42L395.36 394.42L352.06 369.42L352.06 319.42zM481.97 144.42L525.27 169.42L525.27 219.42L481.97 244.42L438.66 219.42L438.66 169.42zM525.27 219.42L568.57 244.42L568.57 294.42L525.27 319.42L481.97 294.42L481.97 244.42zM481.97 294.42L525.27 319.42L525.27 369.42L481.97 394.42L438.66 369.42L438.66 319.42zM481.97 444.42L525.27 469.42L525.27 519.42L481.97 544.42L438.66 519.42L438.66 469.42zM525.27 519.42L568.57 544.42L568.57 594.42L525.27 619.42L481.97 594.42L481.97 544.42zM568.57 -5.58L611.87 19.42L611.87 69.42L568.57 94.42L525.27 69.42L525.27 19.42zM611.87 69.42L655.17 94.42L655.17 144.42L611.87 169.42L568.57 144.42L568.57 94.42zM568.57 144.42L611.87 169.42L611.87 219.42L568.57 244.42L525.27 219.42L525.27 169.42zM611.87 219.42L655.17 244.42L655.17 294.42L611.87 319.42L568.57 294.42L568.57 244.42zM611.87 369.42L655.17 394.42L655.17 444.42L611.87 469.42L568.57 444.42L568.57 394.42zM568.57 444.42L611.87 469.42L611.87 519.42L568.57 544.42L525.27 519.42L525.27 469.42zM611.87 519.42L655.17 544.42L655.17 594.42L611.87 619.42L568.57 594.42L568.57 544.42zM698.48 219.42L741.78 244.42L741.78 294.42L698.48 319.42L655.17 294.42L655.17 244.42zM698.48 369.42L741.78 394.42L741.78 444.42L698.48 469.42L655.17 444.42L655.17 394.42zM655.17 444.42L698.48 469.42L698.48 519.42L655.17 544.42L611.87 519.42L611.87 469.42zM785.08 69.42L828.38 94.42L828.38 144.42L785.08 169.42L741.78 144.42L741.78 94.42zM785.08 369.42L828.38 394.42L828.38 444.42L785.08 469.42L741.78 444.42L741.78 394.42zM741.78 444.42L785.08 469.42L785.08 519.42L741.78 544.42L698.48 519.42L698.48 469.42zM785.08 519.42L828.38 544.42L828.38 594.42L785.08 619.42L741.78 594.42L741.78 544.42zM828.38 -5.58L871.69 19.42L871.69 69.42L828.38 94.42L785.08 69.42L785.08 19.42zM871.69 69.42L914.99 94.42L914.99 144.42L871.69 169.42L828.38 144.42L828.38 94.42zM871.69 219.42L914.99 244.42L914.99 294.42L871.69 319.42L828.38 294.42L828.38 244.42zM828.38 294.42L871.69 319.42L871.69 369.42L828.38 394.42L785.08 369.42L785.08 319.42zM871.69 369.42L914.99 394.42L914.99 444.42L871.69 469.42L828.38 444.42L828.38 394.42zM914.99 294.42L958.29 319.42L958.29 369.42L914.99 394.42L871.69 369.42L871.69 319.42zM958.29 369.42L1001.6 394.42L1001.6 444.42L958.29 469.42L914.99 444.42L914.99 394.42zM958.29 519.42L1001.6 544.42L1001.6 594.42L958.29 619.42L914.99 594.42L914.99 544.42zM1001.6 -5.58L1044.9 19.42L1044.9 69.42L1001.6 94.42L958.29 69.42L958.29 19.42zM1001.6 294.42L1044.9 319.42L1044.9 369.42L1001.6 394.42L958.29 369.42L958.29 319.42zM1001.6 444.42L1044.9 469.42L1044.9 519.42L1001.6 544.42L958.29 519.42L958.29 469.42zM1131.5 519.42L1174.81 544.42L1174.81 594.42L1131.5 619.42L1088.2 594.42L1088.2 544.42zM1174.81 -5.58L1218.11 19.42L1218.11 69.42L1174.81 94.42L1131.5 69.42L1131.5 19.42zM1174.81 144.42L1218.11 169.42L1218.11 219.42L1174.81 244.42L1131.5 219.42L1131.5 169.42zM1261.41 -5.58L1304.71 19.42L1304.71 69.42L1261.41 94.42L1218.11 69.42L1218.11 19.42zM1261.41 144.42L1304.71 169.42L1304.71 219.42L1261.41 244.42L1218.11 219.42L1218.11 169.42zM1261.41 294.42L1304.71 319.42L1304.71 369.42L1261.41 394.42L1218.11 369.42L1218.11 319.42zM1261.41 444.42L1304.71 469.42L1304.71 519.42L1261.41 544.42L1218.11 519.42L1218.11 469.42zM1348.02 -5.58L1391.32 19.42L1391.32 69.42L1348.02 94.42L1304.71 69.42L1304.71 19.42zM1391.32 69.42L1434.62 94.42L1434.62 144.42L1391.32 169.42L1348.02 144.42L1348.02 94.42zM1391.32 219.42L1434.62 244.42L1434.62 294.42L1391.32 319.42L1348.02 294.42L1348.02 244.42zM1391.32 369.42L1434.62 394.42L1434.62 444.42L1391.32 469.42L1348.02 444.42L1348.02 394.42zM1348.02 444.42L1391.32 469.42L1391.32 519.42L1348.02 544.42L1304.71 519.42L1304.71 469.42zM1391.32 519.42L1434.62 544.42L1434.62 594.42L1391.32 619.42L1348.02 594.42L1348.02 544.42zM1434.62 -5.58L1477.92 19.42L1477.92 69.42L1434.62 94.42L1391.32 69.42L1391.32 19.42zM1477.92 219.42L1521.23 244.42L1521.23 294.42L1477.92 319.42L1434.62 294.42L1434.62 244.42zM1434.62 294.42L1477.92 319.42L1477.92 369.42L1434.62 394.42L1391.32 369.42L1391.32 319.42zM1477.92 369.42L1521.23 394.42L1521.23 444.42L1477.92 469.42L1434.62 444.42L1434.62 394.42zM1477.92 519.42L1521.23 544.42L1521.23 594.42L1477.92 619.42L1434.62 594.42L1434.62 544.42z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
  
}
